* {
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
}

body {
  width: 98.5%;
  margin: 0 auto;
  padding: 0;
  background-color: #000000;
}

/* typography */
h1,
h1 > span {
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

h1 > span {
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Navigation */
header {
  width: 100%;
  background-color: #000000;
  height: 64px;
  padding: 1em 0;
}

.logo_image {
  width: 100%;
  object-fit: cover;
  margin: 0;
  height: 24px;
}

.nav_bar {
  width: 86.7%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;
  flex-wrap: wrap;
}

.nav_bar a {
  margin: 0;
}

.hamburger_menu {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.small_devices_nav {
  display: none;
}

.nav_list {
  width: 38.5%;
  display: flex;
  justify-content: space-between;
}

.nav_list .checked {
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.nav_menus {
  width: 49.9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_icons {
  width: 41.68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_bar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 17.64px;
}

.nav_icons a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20.16px;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .nav_list {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 98%;
    margin: 0 auto;
  }

  .nav_list {
    display: none;
  }

  .buy_container div {
    display: none;
  }

  .small_devices_nav {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_bar {
    width: 98%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .small_devices_nav {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .small_devices_nav {
    width: 33%;
  }
}

@media screen and (min-width: 1224px) {
  .nav_list {
    width: 38.5%;
  }
}

/* Categories */

.categories {
  width: 100%;
  height: 57px;
  padding: 0;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  position: sticky;
  top: 0;
  z-index: 3;
}

.categories_flex_container {
  width: 88%;
  height: 57px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories_checked p {
  text-decoration: underline;
}

.category_item {
  display: flex;
  align-items: center;
}

.category_item img {
  margin-right: 4px;
}

.categories a {
  text-decoration: none;
  color: #000000;
  padding: 0 1em;
}

.category_item p {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 1rem;
}

.category_item p:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .categories {
    display: none;
  }
}

@media screen and (max-width: 1290px) {
  .categories a {
    padding: 0;
  }

  .category_item p {
    font-size: 0.95rem;
  }
}

/* Main Add to card content */

.add_to_cart_heading,
.add_to_cart_heading span {
  width: 45.47%;
  height: auto;
  margin: 1.5em auto 1em auto;
  font-size: 3.3125rem;
  font-weight: 700;
  line-height: 71.44px;
  text-align: center;
}

.add_to_cart_main_container {
  width: 87%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.items_container {
  width: 59.55%;
  height: auto;
}

.table_headings_container {
  width: 100%;
  height: 54px;
  background: #1e1c1a;
  padding: 1em 1.25em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.table_headings_container h6 {
  margin: 0;
  font-family: "Cinzel", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21.57px;
  text-align: left;
  color: #ffffff;
}

.table_heading_1 {
  width: 9.51%;
}

.table_heading_2 {
  width: 44.23%;
}

.table_heading_3 {
  width: 49px;
  min-width: 49px;
}

.product_details {
  width: 97.47%;
  height: auto;
  display: flex;
}

.product_details > img {
  width: 23.15%;
  height: 187px;
  object-fit: cover;
}

.product_details_and_remove {
  width: 72%;
  margin-left: 2.5em;
  display: flex;
  justify-content: space-between;
}

.product_description {
  margin-top: 1.15em;
  width: 57.3%;
  height: auto;
}

.product_description h3 {
  margin: 0;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32.35px;
  text-align: left;
  color: #d9d9d9;
}

.product_description p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22.68px;
  text-align: left;
  color: #8d8d8d;
}

.product_description h4 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 22.68px;
  text-align: left;
  color: #949191;
}

.quantity {
  width: 189px;
  height: 32px;
  margin-top: 1em;
  padding: 0.36875em 1.6475em;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
}

.quantity span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  text-align: left;
  color: #d9d9d9;
}

.remove {
  width: 74px;
  height: 75px;
}

.remove img {
  width: 36px;
  height: 36px;
  float: right;
}

.remove h4 {
  margin-top: 3em;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 22.68px;
  text-align: left;
  color: #949191;
}

.middle_border {
  width: 100%;
  height: 271px;
  padding: 2.25em 0;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
}

.special_order_sentence,
textarea {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  text-align: left;
  color: #ffffff;
}

textarea {
  width: 100%;
  height: 140px;
  margin-top: 2em;
  padding: 10px 24px;
  border: 1px solid #3b3b3b;
  background-color: #000000;
  color: #737373;
  outline: none;
}

textarea:focus::placeholder {
  color: transparent;
}

/* Aside section */
.order_summary_container {
  width: 36.53%;
  height: 1061px;
}

.order_summary_item {
  width: 95.87%;
  height: 526px;
  margin: 0.5em auto 0 auto;
  padding: 5em 0;
  position: sticky;
  top: 1px;
}

.order_summary_card {
  width: 95.7%;
  height: 361.98px;
  margin: 0 auto;
  padding: 1.1em 1.32em;
  background-color: #101010;
  border: 1px solid #0000001a;
}

.order_summary_card h5 {
  margin: 0 0 0.15em 0;
  font-size: 1.32rem;
  font-weight: 400;
  line-height: 26.61px;
  text-align: left;
  color: #c9c9c9;
}

.order_summary_flex {
  width: 100%;
  height: 22px;
  margin-top: 1.25em;
  display: flex;
  justify-content: space-between;
}

.order_summary_flex span {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 22.17px;
  text-align: left;
  color: #adadad;
}

.discount_span {
  color: #ff3333 !important;
}

.order_total {
  width: 100%;
  height: 27px;
  margin: 2em 0 1em 0;
  display: flex;
  justify-content: space-between;
}

.order_total span {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 22.17px;
  text-align: left;
  color: #ffffff;
}

.total_span {
  font-size: 1.32rem;
  font-weight: 400;
  line-height: 26.61px;
  text-align: right;
  color: #a7a7a7;
}

.check_out_hyperlink {
  width: 100%;
  margin: 0;
}

.check_out_hyperlink button {
  width: 100%;
  height: 57.79px;
  margin: 0;
  padding: 0 47.52px;
  font-family: "Cinzel", serif;
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 18.98px;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(202, 140, 78, 0.2) 0%,
    rgba(199, 123, 49, 0.2) 48.8%,
    rgba(149, 89, 32, 0.2) 100%
  );
  border: none;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.check_out_hyperlink svg {
  width: 26.12px;
  height: 28.12px;
  object-fit: cover;
  position: absolute;
  margin-top: -6px;
  margin-left: 0.5em;
}

@media screen and (max-width: 1435px) {
  .add_to_cart_heading,
  .add_to_cart_heading span {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .product_details > img {
    height: 150px;
    margin: 2em 0;
  }
}

@media screen and (max-width: 1100px) {
  .table_headings_container h6 {
    font-size: 0.85rem;
  }

  .product_description h3 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1085px) {
  .product_details > img {
    height: 140px;
    margin: 2.5em 0;
  }
}

@media screen and (max-width: 1024px) {
  .product_details > img {
    height: 120px;
    margin: 2.75em 0;
  }
}

@media screen and (max-width: 979px) {
  .check_out_hyperlink button {
    font-size: 0.74rem;
  }

  .quantity {
    width: 160px;
  }
}

@media screen and (min-width: 900px) {
  .hidden_order_summary_card {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .order_summary_container {
    display: none;
  }

  .items_container {
    width: 100%;
  }

  .hidden_order_summary_card {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 768px) {
  .add_to_cart_heading,
  .add_to_cart_heading span {
    font-size: 2.73rem;
  }
}

@media screen and (max-width: 600px) {
  .table_headings_container h6 {
    font-size: 0.75rem;
  }

  .product_description h3 {
    font-size: 1.125rem;
  }

  .product_description p {
    font-size: 1rem;
  }

  .table_heading_2 {
    width: 30%;
  }

  .product_details_and_remove {
    margin-left: 1em;
  }

  .product_details > img {
    width: 28%;
    height: 110px;
    margin: 3em 0;
  }

  .add_to_cart_heading,
  .add_to_cart_heading span {
    font-size: 1.95rem;
  }
}

@media screen and (max-width: 430px) {
  .add_to_cart_main_container {
    width: 98%;
  }

  .product_details > img {
    height: 100px;
    margin: 3em 0;
  }

  .add_to_cart_heading,
  .add_to_cart_heading span {
    font-size: 1.7rem;
  }
}

/* Footer */
.footer_container {
  width: 100%;
  height: 517px;
  padding: 8em 0 1em 0;
}

.footer_flex {
  height: 82%;
  display: flex;
  margin-bottom: 5em;
}

.footer_flex_item_a {
  width: 50%;
  padding-left: 5em;
}

.footer_flex_item_b {
  width: 50%;
}

.footer_logo_image {
  width: 79.17%;
  height: 24px;
}

.footer_logo_image img {
  width: 100%;
  object-fit: fill;
}

.footer_logo_and_details {
  width: 41%;
  height: 226px;
}

.footer_logo_text p,
.small_texts {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #bababa;
}

div.footer_flex_item_b {
  width: 59%;
  display: flex;
  justify-content: space-between;
}

.products {
  width: 28%;
  height: 231px;
}

.quick_links {
  width: 28%;
  height: 195px;
}

.legal {
  width: 30%;
  height: 195px;
  padding-right: 5em;
}

.legal_small_device {
  display: none;
}

.footer_headings {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 43.14px;
  margin: 0;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.footer_list {
  list-style-type: none;
  padding: 0;
}

.footer_list li {
  margin-bottom: 1em;
}

.footer_links {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #bababa;
}

.final_footer_container {
  width: 88%;
  height: auto;
  padding: 1.5rem 0;
  margin: 0 auto;
  border-top: 1px solid #191919;
  display: flex;
  justify-content: space-between;
}

.final_footer_container span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #bababa;
}

.designed_by .logo_span {
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 1330px) {
  .footer_flex_item_a {
    width: 40%;
  }

  .footer_logo_and_details {
    width: 100%;
  }

  .products {
    width: 32%;
  }

  .quick_links {
    width: 32%;
  }

  .legal {
    width: 32%;
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .footer_headings {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 835px) {
  .footer_container {
    height: auto;
    padding-top: 3em;
  }

  .footer_logo_and_details {
    width: 50%;
  }

  .footer_flex {
    height: auto;
    padding: 0;
    flex-direction: column;
  }

  .footer_flex_item_a {
    width: 100%;
    padding-left: 35%;
  }

  .footer_flex_item_b {
    width: 100% !important;
    justify-content: space-between;
    margin-top: 4em;
    padding-left: 11%;
  }

  .products {
    width: 100%;
  }

  .quick_links {
    width: 100%;
  }

  .legal {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer_flex_item_a {
    width: 100%;
    padding: 0 5% 0 11%;
    display: flex;
    justify-content: space-between;
    order: 2;
    margin-top: 4em;
  }

  .footer_logo_and_details {
    width: 50% !important;
  }

  .legal_small_device {
    width: 48%;
    display: flex;
    flex-direction: column;
  }

  .footer_flex {
    height: auto;
    padding: 0;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .footer_flex_item_b {
    width: 100% !important;
    justify-content: space-between;
    order: 1;
    padding-left: 11%;
    margin: 0;
  }

  .legal_large_device {
    display: none;
  }

  .products {
    width: 100%;
  }

  .quick_links {
    width: 100%;
  }

  .final_footer_container {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
  }

  .all_rights_reserved,
  .designed_by {
    text-align: center;
  }

  .designed_by {
    margin-top: 1em;
  }
}

@media screen and (max-width: 450px) {
  .footer_logo_text p,
  .footer_logo_text h6 {
    font-size: 0.85rem;
  }

  .footer_logo_text h6 {
    margin-top: 1em !important;
  }
}

@media screen and (max-width: 355px) {
  .footer_flex_item_a {
    flex-direction: column;
    padding: 0;
  }
  .footer_flex_item_b {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer_logo_and_details {
    width: 100% !important;
  }

  .footer_logo_text p,
  .footer_logo_text h6 {
    font-size: 1rem;
    text-align: center;
  }

  .products {
    width: 100%;
    text-align: center;
  }

  .quick_links {
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }

  .legal_small_device {
    width: 100%;
    text-align: center;
  }

  .footer_logo_image {
    margin-left: 20%;
  }

  .final_footer_container span {
    font-size: 0.75rem;
  }

  .designed_by {
    margin-top: 1em;
  }
}
