html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

/* Navigation */

header {
  width: 100%;
  background-color: #000000;
  height: 64px;
  padding: 1em 0;
}

.logo_image {
  width: 100%;
  object-fit: cover;
  margin: 0;
  height: 24px;
}

.nav_bar {
  width: 86.7%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;
  flex-wrap: wrap;
}

.nav_bar a {
  margin: 0;
}

.hamburger_menu {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.small_devices_nav {
  display: none;
}

.nav_list {
  width: 38.5%;
  display: flex;
  justify-content: space-between;
}

.nav_list .checked {
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.nav_menus {
  width: 49.9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_icons {
  width: 41.68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_bar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 17.64px;
}

.nav_icons a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20.16px;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .nav_list {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 98%;
    margin: 0 auto;
  }

  .nav_list {
    display: none;
  }

  .buy_container div {
    display: none;
  }

  .small_devices_nav {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_bar {
    width: 98%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .small_devices_nav {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .small_devices_nav {
    width: 33%;
  }
}

@media screen and (min-width: 1224px) {
  .nav_list {
    width: 38.5%;
  }
}

/* Categories */

.categories {
  width: 100%;
  height: 57px;
  padding: 0;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  position: sticky;
  top: 0;
  z-index: 3;
}

.categories_flex_container {
  width: 88%;
  height: 57px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories_checked p {
  text-decoration: underline;
}

.category_item {
  display: flex;
  align-items: center;
}

.category_item img {
  margin-right: 4px;
}

.categories a {
  text-decoration: none;
  color: #000000;
  padding: 0 1em;
}

.category_item p {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 1rem;
}

.category_item p:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .categories {
    display: none;
  }
}

@media screen and (max-width: 1290px) {
  .categories a {
    padding: 0;
  }

  .category_item p {
    font-size: 0.95rem;
  }
}

/* Homepage main-grid section */
.grid_container {
  display: grid;
  grid-template-columns: 49.63% 50.37%;
  margin: 0 auto;
  height: auto;
}

.grid_item1,
.grid_item2,
.grid_item5,
.grid_item6 {
  height: 656px;
  margin-bottom: 0.25em;
}

.grid_item3,
.grid_item4 {
  height: 484px;
  margin-bottom: 0.25em;
}

.grid_item1,
.grid_item2,
.grid_item5,
.grid_item6 {
  grid-column: 1/3;
}

.grid_images img {
  width: 100%;
  height: 656px;
  object-fit: cover;
  opacity: 0.5;
}

.grid_numbers {
  position: relative;
}

.explore {
  width: 138.15px;
  height: 31px;
  position: absolute;
  top: 622px;
  left: 85%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  opacity: 1;
  transition: 0.5s;
}

.explore_divide {
  width: 138.15px;
  height: 31px;
  position: absolute;
  top: 440px;
  margin-left: 78%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  opacity: 1;
  transition: 0.5s;
}

.explore span,
.explore_divide span {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30.24px;
  text-align: left;
  color: #ffffff;
}

.explore svg,
.explore_divide svg {
  width: 31px;
  height: 33.15px;
}

.numbers {
  position: absolute;
  z-index: 2;
  top: 364px;
  left: 5%;
}

.combined_numbers {
  position: absolute;
  z-index: 2;
  top: 229.5px;
  left: 7.5%;
}

.numbers h1 {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 6.8125rem;
  font-weight: 500;
  line-height: 137.34px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #e9ce6e;
}

.numbers h2 {
  margin-left: 22.38px;
  color: #ffffff;
  font-family: "Cinzel", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 64.7px;
}

.combined_numbers h2 {
  margin: 0;
}

.combined_numbers h1 {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 5.75rem;
  font-weight: 500;
  line-height: 137.34px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #e9ce6e;
}

.sofa_heading {
  font-size: 2rem;
  font-weight: bold;
}

.grid_images_combined img {
  width: 100%;
  height: 484px;
  object-fit: cover;
  opacity: 0.6;
}

.grid_item1 {
  width: 100%;
  position: relative;
}

.card_list img {
  width: 100%;
  height: 656px;
  object-fit: cover;
}

/* .card_list {
  width: 200%;
  display: flex;
} */

.homepage_main_container {
  height: auto;
  position: absolute;
  padding: 0;
  top: 171px;
  left: 86px;
}

.homepage_content h1 {
  font-family: "Cinzel", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 75.49px;
  color: #f4e5d6;
  margin: 0 0 0.25em 0;
}

.homepage_content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #696969;
  margin: 0 0 4.5rem 0;
}

@media screen and (max-width: 1027px) {
  .homepage_content h1 {
    margin-top: 1em;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .explore,
  .explore_divide {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .homepage_content h1 {
    font-size: 2.75rem;
  }

  .explore,
  .explore_divide {
    display: flex;
    opacity: 0;
  }

  .grid_numbers:hover .explore {
    top: 545px;
    left: 80%;
    opacity: 0.9;
  }

  .grid_numbers:hover .explore_divide {
    top: 545px;
    margin-left: 70%;
    opacity: 0.9;
  }
}

@media screen and (min-width: 1245px) {
  .homepage_content h1 {
    font-size: 3.5rem;
  }

  .sofa_heading {
    font-size: 2rem !important;
    font-weight: bold !important;
  }
}

@media screen and (min-width: 1400px) {
  .grid_numbers:hover .explore_divide {
    top: 380px;
  }
}

.buy_now_button {
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  display: flex;
  align-items: center;
  padding: 0.827em 1.65em;
  transition: 0.9s;
}

.buy_now_link {
  text-decoration: none;
  font-size: Medium;
  font-weight: 400;
  display: flex;
}

.buy_now_link:hover button {
  color: #ffffff;
  cursor: pointer;
}

.buy_now_button img {
  height: 24.7px;
  width: 24.7px;
  margin-right: 11.03px;
}

.buy_container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.slider_arrows {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.slider_arrows svg {
  height: 40px;
  width: 43px;
  opacity: 0.6;
}

@media screen and (max-width: 1400px) {
  .grid_item3,
  .grid_item4 {
    height: 656px;
    grid-column: 1/3;
    margin-top: 0.125em;
  }

  .grid_images_combined img {
    height: 656px;
  }

  .combined_numbers {
    top: 364px;
    left: 75.21px;
  }
}

@media screen and (max-width: 992px) {
  .grid_item1,
  .grid_item2,
  .grid_item3,
  .grid_item4,
  .grid_item5,
  .grid_item6,
  .grid_numbers img,
  .card_list img,
  .grid_images_combined img {
    height: 484px;
  }

  .homepage_main_container {
    top: 140px;
    left: 5%;
  }

  .homepage_content h1 {
    font-family: "Cinzel", serif;
    font-size: 1.75rem;
    line-height: 45.49px;
    margin: 0 0 0.25em 0;
  }

  .homepage_content p {
    font-size: 0.95rem;
    margin: 0 0 2.5rem 0;
  }

  .numbers {
    height: auto;
    top: 264px;
    display: flex;
    align-items: center;
  }

  .numbers h1 {
    font-size: 5rem;
  }

  .numbers h2 {
    font-size: 2.65rem;
    margin: 1em 0 0 0;
    line-height: 50px;
  }

  .sofa_heading {
    margin: 1.5em 0 0 0 !important;
  }

  .explore,
  .explore_divide {
    top: 420px;
  }

  .explore {
    left: 75%;
  }
}

@media screen and (max-width: 768px) {
  .grid_item1,
  .grid_item2,
  .grid_item3,
  .grid_item4,
  .grid_item5,
  .grid_item6,
  .grid_numbers img,
  .card_list img,
  .grid_images_combined img {
    height: 384px;
  }

  .homepage_main_container {
    top: 100px;
  }

  .homepage_content h1 {
    font-family: "Cinzel", serif;
    font-size: 1.75rem;
    line-height: 45.49px;
    margin: 0 0 0.25em 0;
  }

  .homepage_content p {
    font-size: 0.85rem;
    margin: 0 0 2.5rem 0;
  }

  .numbers {
    height: auto;
    top: 200px;
    display: flex;
    align-items: center;
    left: 3.5%;
  }

  .numbers h1 {
    font-size: 3rem;
  }

  .numbers h2 {
    font-size: 2.125rem;
    line-height: 45px;
    margin: 0.65em 0 0 0;
  }

  .sofa_heading {
    margin: 0.75em 0 0 0 !important;
  }

  .explore,
  .explore_divide {
    top: 320px;
  }
}

@media screen and (max-width: 600px) {
  .homepage_main_container {
    top: 50px;
  }

  .homepage_content h1 {
    font-size: 1.5rem;
    line-height: 35.49px;
    margin: 0 0 0.125em 0;
  }

  .homepage_content p {
    font-size: 0.73rem;
    margin: 0 0 4rem 0;
  }

  .buy_now_button {
    padding: 0.85em 1em;
  }

  .buy_now_button img {
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
  }

  .numbers {
    height: auto;
    top: 180px;
    display: flex;
    align-items: center;
    left: 3.5%;
  }

  .numbers h1 {
    font-size: 2.5rem;
  }

  .numbers h2 {
    font-size: 2rem;
    margin: 0.45em 0 0 0;
    line-height: 40px;
  }

  .sofa_heading {
    margin: 0.25em 0 0 0 !important;
  }

  .explore,
  .explore_divide {
    top: 320px;
  }

  .explore {
    left: 40%;
  }

  .explore_divide {
    margin-left: 40%;
  }
}

@media screen and (max-width: 383px) {
  .grid_item1,
  .grid_item2,
  .grid_item3,
  .grid_item4,
  .grid_item5,
  .grid_item6,
  .grid_numbers img,
  .card_list img,
  .grid_images_combined img {
    height: 300px;
  }

  .homepage_main_container {
    width: 60%;
    top: 40px;
  }

  .homepage_content h1 {
    font-size: 1.25rem;
    line-height: 25.49px;
    margin: 0 0 0.25em 0;
  }

  .homepage_content p {
    margin: 0;
    line-height: 15px;
  }

  .buy_container {
    margin-top: 1.25em;
    width: 100%;
  }

  .buy_now_link {
    width: 100%;
  }

  .buy_now_button {
    padding: 0.5em 0.75em;
  }

  .buy_now_button img {
    width: 10px;
    height: 10px;
    margin-right: 0.125rem;
  }

  br {
    display: none;
  }

  .numbers {
    height: auto;
    top: 140px;
    display: flex;
    align-items: center;
    left: 3.5%;
  }

  .numbers h1 {
    font-size: 2rem;
  }

  .numbers h2 {
    font-size: 1.25rem;
    margin: 0.45em 0 0 0;
    line-height: 25px;
  }

  .sofa_heading {
    margin: 0.25em 0 0 0 !important;
  }

  .explore,
  .explore_divide {
    top: 250px;
  }
}

@media screen and (max-width: 233px) {
  .homepage_content h1 {
    font-size: 1rem;
    line-height: 20.49px;
    margin: 0 0 0.25em 0;
  }

  .homepage_content p {
    display: none;
  }

  .buy_container {
    margin-top: 2.5em;
  }

  .numbers {
    height: auto;
    top: 130px;
    display: flex;
    align-items: center;
    left: 3.5%;
  }

  .numbers h1 {
    font-size: 1.5rem;
  }

  .numbers h2 {
    font-size: 1.125rem;
    margin: 0.45em 0 0 0;
    line-height: 20px;
  }

  .sofa_heading {
    margin: 0.25em 0 0 0 !important;
  }

  .explore,
  .explore_divide {
    top: 250px;
  }

  .explore {
    left: 5%;
  }

  .explore_divide {
    margin-left: 5%;
  }
}

/* Why Choose Us section */

.why_choose_us_container {
  width: 100%;
  height: auto;
  padding: 75px 0;
}

.why_choose_us_second_container {
  width: 72%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading_and_paragraph {
  height: auto;
}

.heading_and_paragraph h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  line-height: 64.7px;
  color: #ffffff;
  margin: 0 0 0.5em 0;
}

.heading_and_paragraph p {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  line-height: 32.68px;
  color: #afafaf;
}

.icons_and_text {
  width: 90%;
  height: 140px;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.icons_and_text_contents {
  width: 18.52%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icons_and_text_contents img {
  width: 47%;
  height: 80px;
  object-fit: cover;
}

.icons_and_text_contents span {
  margin: 0;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 25.2px;
}

@media screen and (max-width: 1480px) {
  .icons_and_text_contents span {
    text-align: center;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .icons_and_text_contents img {
    width: 100%;
    height: 70px;
    object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .why_choose_us_second_container {
    width: 100%;
  }

  .icons_and_text_contents img {
    width: 100%;
    object-fit: contain;
  }

  .icons_and_text_contents span {
    text-align: center;
    font-size: 0.85rem;
  }

  .icons_and_text {
    height: auto;
  }
}

@media screen and (max-width: 605px) {
  .heading_and_paragraph h1 {
    font-size: 2.5rem;
    line-height: 65px;
  }

  .heading_and_paragraph p {
    font-size: 1rem;
    line-height: 28px;
  }
}

@media screen and (max-width: 315px) {
  .icons_and_text_contents span {
    text-align: center;
    font-size: 0.6rem;
    line-height: 15px;
  }
}

/* Before Footer */

.before_footer {
  width: 100%;
  height: 606px;
  position: relative;
}

.before_footer img {
  width: 100%;
  height: 606px;
  object-fit: cover;
  opacity: 0.3;
}

.before_footer_contents {
  width: 60%;
  height: 254px;
  position: absolute;
  z-index: 1;
  top: 10.9375em;
  margin-left: 22%;
  padding: 0.5em 3em 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.before_footer_contents h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  line-height: 64.7px;
  color: #ffffff;
  margin: 0 0 0.5em 0;
}

.before_footer_contents p {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  line-height: 20.16px;
  color: #d9d6d6;
  margin: 0;
}

.shop_now button {
  padding: 0.75em 1.5em;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  font-family: "Ovo", serif;
  font-size: medium;
  font-weight: 400;
  line-height: 16px;
  transition: 1.1s;
}

.shop_now:hover button {
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 942px) {
  .before_footer_contents {
    top: 8em;
    padding: 0;
  }

  .before_footer_contents h1 {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 768px) {
  .before_footer_contents {
    width: 75%;
    margin-left: 13%;
    top: 8.5em;
  }

  .before_footer_contents h1 {
    font-size: 2.25rem;
    line-height: 58px;
  }

  .before_footer_contents p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 460px) {
  .before_footer {
    height: 506px;
  }

  .before_footer img {
    height: 506px;
  }

  .before_footer_contents {
    width: 80%;
    margin-left: 11%;
    top: 6.5em;
  }

  .before_footer_contents h1 {
    font-size: 2rem;
    line-height: 45px;
  }

  .before_footer_contents p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 325px) {
  .before_footer_contents h1 {
    font-size: 1.75rem;
    line-height: 40px;
  }

  .before_footer_contents p {
    font-size: 0.75rem;
  }
}

/* Footer */
.footer_container {
  width: 100%;
  height: 517px;
  padding: 8em 0 1em 0;
}

.footer_flex {
  height: 82%;
  display: flex;
  margin-bottom: 5em;
}

.footer_flex_item_a {
  width: 50%;
  padding-left: 5em;
}

.footer_flex_item_b {
  width: 50%;
}

.footer_logo_image {
  width: 79.17%;
  height: 24px;
}

.footer_logo_image img {
  width: 100%;
  object-fit: fill;
}

.footer_logo_and_details {
  width: 41%;
  height: 226px;
}

.footer_logo_text p,
.small_texts {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #bababa;
}

div.footer_flex_item_b {
  width: 59%;
  display: flex;
  justify-content: space-between;
}

.products {
  width: 28%;
  height: 231px;
}

.quick_links {
  width: 28%;
  height: 195px;
}

.legal {
  width: 30%;
  height: 195px;
  padding-right: 5em;
}

.legal_small_device {
  display: none;
}

.footer_headings {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 43.14px;
  margin: 0;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.footer_list {
  list-style-type: none;
  padding: 0;
}

.footer_list li {
  margin-bottom: 1em;
}

.footer_links {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #bababa;
}

.final_footer_container {
  width: 88%;
  height: auto;
  padding: 1.5rem 0;
  margin: 0 auto;
  border-top: 1px solid #191919;
  display: flex;
  justify-content: space-between;
}

.final_footer_container span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #bababa;
}

.designed_by .logo_span {
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 1330px) {
  .footer_flex_item_a {
    width: 40%;
  }

  .footer_logo_and_details {
    width: 100%;
  }

  .products {
    width: 32%;
  }

  .quick_links {
    width: 32%;
  }

  .legal {
    width: 32%;
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .footer_headings {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 835px) {
  .footer_container {
    height: auto;
    padding-top: 3em;
  }

  .footer_logo_and_details {
    width: 50%;
  }

  .footer_flex {
    height: auto;
    padding: 0;
    flex-direction: column;
  }

  .footer_flex_item_a {
    width: 100%;
    padding-left: 35%;
  }

  .footer_flex_item_b {
    width: 100% !important;
    justify-content: space-between;
    margin-top: 4em;
    padding-left: 11%;
  }

  .products {
    width: 100%;
  }

  .quick_links {
    width: 100%;
  }

  .legal {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer_flex_item_a {
    width: 100%;
    padding: 0 5% 0 11%;
    display: flex;
    justify-content: space-between;
    order: 2;
    margin-top: 4em;
  }

  .footer_logo_and_details {
    width: 50% !important;
  }

  .legal_small_device {
    width: 48%;
    display: flex;
    flex-direction: column;
  }

  .footer_flex {
    height: auto;
    padding: 0;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .footer_flex_item_b {
    width: 100% !important;
    justify-content: space-between;
    order: 1;
    padding-left: 11%;
    margin: 0;
  }

  .legal_large_device {
    display: none;
  }

  .products {
    width: 100%;
  }

  .quick_links {
    width: 100%;
  }

  .final_footer_container {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
  }

  .all_rights_reserved,
  .designed_by {
    text-align: center;
  }

  .designed_by {
    margin-top: 1em;
  }
}

@media screen and (max-width: 450px) {
  .footer_logo_text p,
  .footer_logo_text h6 {
    font-size: 0.85rem;
  }

  .footer_logo_text h6 {
    margin-top: 1em !important;
  }
}

@media screen and (max-width: 355px) {
  .footer_flex_item_a {
    flex-direction: column;
    padding: 0;
  }
  .footer_flex_item_b {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer_logo_and_details {
    width: 100% !important;
  }

  .footer_logo_text p,
  .footer_logo_text h6 {
    font-size: 1rem;
    text-align: center;
  }

  .products {
    width: 100%;
    text-align: center;
  }

  .quick_links {
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }

  .legal_small_device {
    width: 100%;
    text-align: center;
  }

  .footer_logo_image {
    margin-left: 20%;
  }

  .final_footer_container span {
    font-size: 0.75rem;
  }

  .designed_by {
    margin-top: 1em;
  }
}
