* {
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #b3b3b3;
}

/* Typography */
h1,
h1 > span {
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

h1 > span {
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

header {
  width: 100%;
  background-color: #000000;
  height: 64px;
  padding: 1em 0;
}

.logo_image {
  width: 100%;
  object-fit: cover;
  margin: 0;
  height: 24px;
}

.nav_bar {
  width: 86.7%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;
  flex-wrap: wrap;
}

.nav_bar a {
  margin: 0;
}

.hamburger_menu {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.small_devices_nav {
  display: none;
}

#side_menu {
  height: 100vh;
  border-left: 1px solid gray;
  position: fixed;
  background-color: black;
  z-index: 5;
  float: right;
  right: 0;
  display: none;
  padding: 1rem;
  transition: 1s;
}

#side_menu > svg {
  float: right;
  margin: 0.25rem 0.5rem 0 0;
}

#side_menu > ul {
  margin: 4.25rem 1rem 0 1rem;
  padding: 0;
}

.small_nav_list > a {
  text-decoration: none;
  color: #f4e5d6;
}

.small_nav_list {
  margin: 0.5rem 0;
  padding: 0.65rem;
  border-bottom: 1px solid gray;
  text-align: center;
  list-style-type: none;
}

.nav_list {
  width: 38.5%;
  display: flex;
  justify-content: space-between;
}

.nav_list .checked {
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.nav_menus {
  width: 49.9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_icons {
  width: 41.68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_bar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 17.64px;
}

.nav_icons a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20.16px;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .nav_list {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 98%;
    margin: 0 auto;
  }

  .nav_list {
    display: none;
  }

  .buy_container div {
    display: none;
  }

  .small_devices_nav {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_bar {
    width: 98%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  #side_menu {
    width: 35%;
  }
}

@media screen and (max-width: 800px) {
  .small_devices_nav {
    width: 20%;
  }

  #side_menu {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .small_devices_nav {
    width: 33%;
  }

  #side_menu {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  #side_menu {
    width: 50%;
  }
}

@media screen and (max-width: 410px) {
  #side_menu {
    width: 60%;
  }
}

@media screen and (max-width: 340px) {
  .small_nav_list > a {
    font-size: 0.85rem;
  }

  #side_menu {
    padding: 0;
  }

  #side_menu > ul {
    margin: 4rem 0;
  }
}

@media screen and (min-width: 1224px) {
  .nav_list {
    width: 38.5%;
  }
}

/* Categories */

.categories {
  width: 100%;
  height: 57px;
  padding: 0;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  position: sticky;
  top: 0;
  z-index: 6;
}

.categories_flex_container {
  width: 88%;
  height: 57px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories_checked p {
  text-decoration: underline;
}

.category_item {
  display: flex;
  align-items: center;
}

.category_item img {
  margin-right: 4px;
}

.categories a {
  text-decoration: none;
  color: #000000;
  padding: 0 1em;
}

.category_item p {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 1rem;
}

.category_item p:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .categories {
    display: none;
  }
}

@media screen and (max-width: 1290px) {
  .categories a {
    padding: 0;
  }

  .category_item p {
    font-size: 0.95rem;
  }
}

/* Rug Details flex */

.rug_details_flex_container {
  width: 88%;
  height: auto;
  margin: 5em auto;
  display: flex;
  justify-content: space-between;
}

.rug_details {
  width: 62%;
  height: auto;
}

.main_content h1 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 0.1px;
  background-image: linear-gradient(to bottom, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.rug_details img {
  margin: 1.25em 0;
  width: 100%;
  height: 446px;
  object-fit: cover;
}

.rug_details p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 3em;
}

.heading_and_paragraph {
  width: 68.5%;
  height: auto;
  margin-bottom: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  margin: 0;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 53.92px;
}

.paragraph {
  width: 70%;
}

.image_and_zoomed_image {
  position: relative;
}

#before_zoom_image {
  width: 55.11%;
  height: 362.33px;
  object-fit: cover;
}

#polygon {
  width: 155.67px;
  height: 30px;
  object-fit: contain;
  position: absolute;
  top: 40%;
  margin-left: -11.1%;
}

.zoomed_image_container {
  width: 32%;
  height: auto;
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  position: relative;
  z-index: 5;
}

.zoomed_image_container h1 {
  margin: 0;
  width: 100%;
  height: 275.05px;
  border-radius: 55%;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
}

#zoomed_image {
  margin: 0.125em;
  width: 97%;
  height: 266.05px;
  border-radius: 55%;
  object-fit: cover;
}

.why_rug_details_container {
  width: 99%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 6em;
}

.why_rug_details_items {
  width: 28.5%;
  height: auto;
}

.why_rug_details_items img {
  width: 59.21px;
  height: 59.21px;
  margin: 0;
}

.why_rug_details_items p {
  width: 90%;
  padding-top: 2em;
  font-size: 1.15625rem;
  font-weight: 500;
  line-height: 23.31px;
  text-align: left;
}

.choose_your_color_container {
  width: 100%;
  height: auto;
  margin: 5.5em 0 7em 0;
}

.choose_your_color_select {
  width: 74.2%;
  height: 95px;
}

.choose_your_color_select h2 {
  font-family: "Cinzel", serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 26.96px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 1.25em;
}

.color_options {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

#color_options {
  justify-content: flex-start;
}

.color_options h3 {
  width: 23%;
  height: 44px;
  margin: 0;
  padding-top: 0.65em;
  text-align: center;
  display: inline-block;
  background-color: #1f1f1f;
  color: #b8b8b8;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.color_options h3:hover {
  background-image: linear-gradient(to right, #e9ce6e4f, #b3873a4e);
  color: #ffffff !important;
}

#color_options h3:first-child {
  margin-right: 5%;
}

.color_options_checked {
  background-image: linear-gradient(to right, #e9ce6e4f, #b3873a4e);
  color: #ffffff !important;
}

.choose_your_color_flex {
  width: 100%;
  height: 201.45px;
  margin-top: 2.5em;
}

.choose_your_color_flex img {
  width: 32.13%;
  height: 201.45px;
  margin: 0;
  object-fit: cover;
}

.choose_your_color_flex1 {
  display: flex;
  justify-content: space-between;
}

#choose_your_color_flex {
  justify-content: flex-start;
}

#choose_your_color_flex img:first-child {
  margin-right: 5%;
}

.size_and_payment_container {
  width: 82%;
  height: auto;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.size {
  width: 40%;
  height: 95px;
}

.payment {
  width: 53%;
  height: 95px;
}

.size_and_payment_container h2 {
  font-family: "Cinzel", serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 26.96px;
  text-align: left;
  margin: 0;
  color: #ffffff;
}

.size_options,
.payment_options {
  display: flex;
  justify-content: space-between;
}

.size_options h3,
.payment_options h3 {
  width: 46.7%;
  height: 44px;
  background-color: #1f1f1f;
  color: #b8b8b8;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin: 1.5em 0 0 0;
  padding-top: 0.65em;
  cursor: pointer;
}

.size_options_checked,
.payment_options_checked {
  background-image: linear-gradient(to right, #e9ce6e4f, #b3873a4e);
  color: #ffffff !important;
}

.size_options h3:hover,
.payment_options h3:hover {
  background-image: linear-gradient(to right, #e9ce6e4f, #b3873a4e);
  color: #ffffff !important;
}

/* Aside section */
.rug_price_and_details {
  padding: 0.625em;
  padding-bottom: 0;
  width: 32%;
  height: auto;
}

.rug_price_and_details_card {
  background-color: #1e1c1a;
  height: auto;
  padding: 1.625em 2.125em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 2.95em;
  z-index: -1;
}

.rug_price_card_flex {
  height: auto;
}

.rug_price_card_flex h1 {
  font-size: 1.5rem;
  line-height: 32.35px;
}

.rug_price_card_flex h5 {
  margin: 0;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 16px;
  letter-spacing: 0.2px;
  font-weight: 300;
}

.green_ball {
  margin-top: 0;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #9ccf74;
}

.rugs_price_card_list {
  padding: 0;
  list-style-type: none;
}

.rugs_price_card_list li {
  margin: 1.125em 0;
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #dddddd;
}

.details_span {
  margin: 1.125em 0;
  display: flex;
  justify-content: space-between;
}

.hidden_price_card_list span {
  font-size: 0.83rem;
  line-height: 16px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #dddddd;
}

.rug_price_card_flex h3 {
  font-size: 1.5rem;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: #ffffff;
}

.rug_price_card_flex h3 span {
  color: #c7c7c7;
  margin-right: 0.5em;
  text-decoration: line-through;
}

.quantity_adjust {
  width: 100%;
  height: 44px;
  margin: 1em 0;
  padding: 0 21.1%;
  background-color: #2a2a2a;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity_adjust span {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  color: #ffffff;
}

.price_buttons {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price_buttons a {
  text-align: center;
  height: 52px;
}

.price_buttons button {
  width: 100%;
  height: 52px;
  font-family: "Cinzel", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.57px;
  cursor: pointer !important;
}

.price_buy_now {
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
}

.add_to_cart {
  color: #ffffff;
  background: #1e1c1a;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 1450px) {
  .size_and_payment_container {
    width: 90%;
  }
}

@media screen and (max-width: 1377px) {
  .zoomed_image_container {
    margin-top: 5%;
  }

  .zoomed_image_container h1 {
    height: 250px;
  }

  #zoomed_image {
    height: 241px;
  }

  .size_and_payment_container {
    width: 98%;
  }
}

@media screen and (max-width: 1220px) {
  .zoomed_image_container {
    margin-top: 5%;
  }

  .zoomed_image_container h1 {
    height: 230px;
  }

  #zoomed_image {
    height: 221px;
  }

  .size_and_payment_container {
    width: 100%;
  }

  .payment {
    width: 55%;
  }
}

@media screen and (max-width: 1170px) {
  .zoomed_image_container {
    width: 37%;
    margin-right: 0;
  }

  .payment {
    width: 57.7%;
  }
}

@media screen and (max-width: 1094px) {
  .rug_price_card_flex h5 {
    font-size: 1.125rem;
  }

  .rug_price_card_flex h3 {
    font-size: 1.25rem;
  }

  .size_and_payment_container {
    flex-direction: column;
  }

  .size,
  .payment {
    width: 80%;
  }

  .payment {
    margin-top: 3em;
  }
}

@media screen and (max-width: 991px) {
  .rug_details {
    width: 100%;
  }

  .details_and_price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4em;
  }

  .details_and_price p {
    width: 50%;
    order: 1;
  }

  aside {
    display: none;
  }

  .zoomed_image_container {
    width: 31%;
    margin-right: 6.4%;
  }

  #polygon {
    margin-left: -10%;
  }

  .hidden_price_container {
    position: static;
    margin: 0;
    width: 47%;
    order: 2;
  }

  .heading_and_paragraph {
    width: 100%;
    text-align: center;
  }

  .paragraph {
    width: 100%;
  }

  .size_and_payment_container {
    width: 98.1%;
  }

  .size_and_payment_container {
    flex-direction: row;
  }

  .size {
    width: 40%;
  }

  .payment {
    width: 53%;
    margin-top: 0;
  }
}

@media screen and (min-width: 991px) {
  .hidden_price_container {
    display: none;
  }
}

@media screen and (max-width: 830px) {
  .details_and_price {
    flex-direction: column;
  }

  .hidden_price_container {
    width: 100%;
    order: 1;
    margin-bottom: 3em;
  }

  .details_and_price p {
    width: 100%;
    order: 2;
    margin: 0;
  }

  .details_span span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .main_content img {
    height: 350px;
  }

  .main_content h1 {
    font-size: 2.25rem;
  }

  .rug_price_card_flex h5 {
    font-size: 1.25rem;
  }

  .rug_price_card_flex h3 {
    font-size: 1.5rem;
  }

  .heading_and_paragraph {
    margin-bottom: 0;
  }

  .why_rug_details_container {
    margin-top: 3em;
  }

  #before_zoom_image {
    height: 300px;
  }

  .zoomed_image_container {
    margin-top: 10%;
  }

  .zoomed_image_container h1 {
    height: 200px;
  }

  #zoomed_image {
    height: 191px;
  }

  .size_and_payment_container {
    width: 100%;
  }

  .size_and_payment_container h2 {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 650px) {
  .main_content h1 {
    font-size: 2.125rem;
  }

  .zoomed_image_container {
    width: 37%;
    margin-right: 0;
  }

  .choose_your_color_container {
    margin: 5.5em 0 3em 0;
  }

  .choose_your_color_container,
  .choose_your_color_flex {
    height: auto;
  }

  .choose_your_color_flex img {
    height: 150px;
  }

  .why_rug_details_items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .why_rug_details_items p {
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  .main_content h1 {
    font-size: 1.79rem;
  }

  .heading {
    font-size: 2.19rem;
  }

  #before_zoom_image {
    height: 250px;
  }

  .zoomed_image_container {
    width: 31%;
    margin-right: 6.4%;
    margin-top: 15%;
  }

  .zoomed_image_container h1 {
    height: 150px;
  }

  #zoomed_image {
    height: 141px;
    width: 95%;
    margin: 0.001;
  }

  .choose_your_color_select {
    width: 100%;
  }

  .size_and_payment_container {
    flex-direction: column;
  }

  .size,
  .payment {
    width: 90%;
  }

  .payment {
    margin-top: 2em;
  }
}

@media screen and (max-width: 472px) {
  .main_content h1 {
    font-size: 1.5rem;
  }

  .main_content img {
    height: 250px;
  }

  .details_span {
    flex-direction: column;
  }

  .details_span span:first-child {
    margin-bottom: 1.125em;
  }

  .heading {
    font-size: 1.85rem;
  }

  .zoomed_image_container {
    width: 36%;
    margin-right: 0;
    margin-top: 15%;
  }
}

@media screen and (max-width: 400px) {
  .main_content h1 {
    font-size: 1.25rem;
  }

  .heading {
    font-size: 1.5rem;
  }

  #before_zoom_image {
    height: 200px;
  }

  .zoomed_image_container h1 {
    height: 120px;
  }

  #zoomed_image {
    height: 111px;
    width: 95%;
    margin: 0.001;
  }

  #polygon {
    width: 31%;
  }

  .color_options h3 {
    font-size: 0.83rem;
  }
}

@media screen and (max-width: 300px) {
  .heading {
    font-size: 1.25rem;
  }

  #before_zoom_image {
    height: 180px;
  }

  .zoomed_image_container {
    margin-top: 25%;
  }

  .zoomed_image_container h1 {
    height: 100px;
    padding: 0.01255em;
  }

  #zoomed_image {
    height: 91px;
    width: 95%;
  }

  #polygon {
    width: 31%;
  }

  .why_rug_details_items p {
    font-size: 0.85rem;
  }

  .color_options h3 {
    font-size: 0.65rem;
  }
}

/* Client review sections */
.client_review_container {
  width: 100%;
  height: auto;
  margin: 0;
}

.review_heading {
  width: 45.5%;
  margin: 3.25em auto 0 auto;
  text-align: center;
  font-size: 3rem;
  line-height: 71.44px;
  text-align: center;
}

.review_paragraph {
  width: 32.76%;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 25.2px;
  text-align: center;
}

.reviews_container {
  width: 63.67%;
  height: auto;
  margin: 4.5em auto 7em auto;
}

.review {
  width: 100%;
  height: auto;
  padding: 1.5em 0;
  background: #1c1913;
}

.review_content_wrapper {
  width: 100%;
  height: auto;
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
}

.review_content {
  width: 76.5%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review_content_wrapper > img {
  width: 16.84%;
  height: 128px;
  object-fit: cover;
}

.review_comment {
  width: 100%;
  height: auto;
}

.review_comment_profile {
  width: 100%;
  height: auto;
}

.review_comment_profile_image {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.review_comment_profile_image h2 {
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ca8c4e, #c77b31, #955920);
}

.review_comment_profile_image img {
  margin: 0;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0.5px;
  margin-left: 0.5px;
  object-fit: cover;
  z-index: 1;
}

.review_profle_name_and_date {
  width: 43%;
  height: 28px;
  margin: 0.125em 0 0 0.75em;
  display: inline-block;
  position: absolute;
}

.review_comment_profile_name {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 20.16px;
  text-align: left;
  color: #ffffff;
}

.review_comment_date {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 8px;
  text-align: left;
}

.review_comment_paragraph {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #969696;
}

.not_first_review {
  padding: 0;
  width: 100%;
  height: auto;
}

.like_button_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.like_button {
  min-width: 91px;
  height: auto;
  padding: 0.25em 0.5em;
  border: 1px solid #373737;
  position: relative;
  background-color: #2a2a2a;
}

.ask_anything {
  min-width: 231px;
  height: auto;
  margin-left: 0.5em;
  padding: 0.25em 0.5em;
  border: 1px solid #373737;
  position: relative;
  background-color: #2a2a2a;
}

.ask_anything img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.like_button h6,
.ask_anything h6,
.ask_anything span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 17.6px;
  text-align: left;
  color: #aeaeae;
  display: inline-block;
  position: absolute;
  margin: 0.25em 0.25em;
}

.ask_anything span {
  font-size: 1rem;
  margin-left: 0.5em;
}

.review_reply {
  width: 80%;
  height: auto;
  margin: 0.25em 0;
  padding: 0.125em 0 1em 1.65em;
  display: flex;
}

.review_reply > img {
  width: 15.93px;
  height: 22px;
  display: inline-block;
  margin-right: 0.25em;
}

.reply_content {
  width: 100%;
}

.reply_like_button_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.reply_like {
  min-width: 83px;
}

.view_all_comments {
  margin: 1em 0;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 20.11px;
  text-align: left;
}

.comment_border {
  width: 100%;
  height: 58px;
  padding: 1px 0 0 1px;
  background-image: linear-gradient(to right, #e9ce6e7c, #b3873a83);
}

.write_comment {
  width: 99.8%;
  height: 56px;
  display: flex;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1913;
}

.write_comment input {
  width: 60%;
  height: 28px;
  border: 0px solid;
  color: #858585;
  background: #1c1913;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: left;
}

.write_comment input:focus {
  outline: none;
}

.write_comment input:focus::placeholder {
  color: transparent;
}

.comment_icons {
  min-width: 116px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1413px) {
  .review_heading,
  .review_paragraph {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .review_content_wrapper > img {
    height: 110px;
  }
}

@media screen and (max-width: 992px) {
  .review_content_wrapper > img {
    height: 105px;
  }
}

@media screen and (max-width: 900px) {
  .reviews_container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .reviews_container {
    width: 88%;
  }
}

@media screen and (max-width: 660px) {
  .review_heading {
    font-size: 2.7rem;
  }

  .review_content_wrapper > img {
    width: 22%;
    height: 100px;
  }

  .review_comment_paragraph {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 600px) {
  .small_screen_input {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .review_heading {
    font-size: 2.5rem;
  }

  .review_paragraph {
    font-size: 1rem;
  }

  .reviews_container {
    width: 90%;
  }

  .large_screen_input {
    display: none;
  }
}

@media screen and (max-width: 546px) {
  .review_heading {
    font-size: 2.125rem;
  }

  .review_content_wrapper > img {
    width: 22%;
    height: 90px;
  }
}

@media screen and (max-width: 470px) {
  .review_heading {
    font-size: 2rem;
    line-height: 50px;
  }

  .review_content_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .review_content_wrapper > img {
    width: 95%;
    height: 150px;
    order: -1;
    margin-bottom: 2em;
  }

  .review_content {
    width: 100%;
  }
}

@media screen and (max-width: 437px) {
  .review_heading {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 425px) {
  .ask_anything span {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .ask_anything h6 {
    display: none;
  }

  .ask_anything {
    min-width: 90px;
  }

  .write_comment input {
    width: 58%;
  }
}

@media screen and (max-width: 383px) {
  .review_heading {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 380px) {
  .write_comment {
    padding: 0 0.25em;
  }
}

@media screen and (max-width: 259px) {
  .reviews_container {
    width: 98%;
  }
}

/* Subscribe Us */
.subscribe_us_container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.subscribe_us_container > h1 {
  width: 64.35%;
  height: auto;
  margin: 0 auto;
  padding: 0 2em;
  font-size: 3.3125rem;
  line-height: 71.44px;
  text-align: center;
}

.subscribe_us_flex {
  width: 100%;
  height: auto;
  margin: 5em 0;
  display: flex;
  align-items: center;
  background: #1c1c1c;
}

.subscribe_us_flex img {
  width: 44%;
  height: 533px;
  object-fit: cover;
}

.subsrcibe_us_flex_item {
  width: 30.82%;
  height: auto;
  margin: 0 10em;
}

.subscribe_heading_and_paragraph {
  width: 100%;
  height: 132px;
}

.subscribe_heading_and_paragraph h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 64.7px;
  text-align: left;
  margin: 0;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.subscribe_heading_and_paragraph p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26.4px;
  text-align: left;
  margin: 0.75em 0 0 0;
}

.subsrcibe_us_flex_item input {
  width: 100%;
  height: 37px;
  margin: 2.5em 0 1.25em 0;
  padding: 0.3125em 0;
  background-color: #1c1c1c;
  border: none;
  border-bottom: 1px solid #585858;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
  color: #b3b3b3;
}

.subsrcibe_us_flex_item input:focus {
  outline: none;
}

.subsrcibe_us_flex_item input:focus::placeholder {
  color: transparent;
}

.subsrcibe_us_flex_item button {
  margin: 0 0.6em;
  padding: 0.5625em 35.5%;
  background: linear-gradient(
    90.73deg,
    rgba(233, 206, 110, 0.5) 1.69%,
    rgba(179, 135, 58, 0.5) 96.02%
  );

  font-size: 1rem;
  font-weight: 600;
  line-height: 31.31px;
  letter-spacing: 0.175em;
  text-align: left;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.subsrcibe_us_flex_item button:hover {
  background: linear-gradient(
    90.73deg,
    rgba(255, 226, 135, 0.5) 1.69%,
    rgba(203, 170, 88, 0.5) 96.02%
  );
}

@media screen and (max-width: 1450px) {
  .subscribe_us_container h1 {
    font-size: 2.95rem;
  }

  .subsrcibe_us_flex_item button {
    padding: 0.5625em 33.5%;
  }
}

@media screen and (max-width: 1305px) {
  .subsrcibe_us_flex_item button {
    padding: 0.5625em 31.5%;
  }
}

@media screen and (max-width: 1203px) {
  .subscribe_us_container h1 {
    font-size: 2.85rem;
  }

  .subsrcibe_us_flex_item button {
    padding: 0.5625em 30.5%;
  }

  .subscribe_heading_and_paragraph {
    height: auto;
  }
}

@media screen and (max-width: 1163px) {
  .subscribe_us_container h1 {
    font-size: 2.65rem;
  }

  .subscribe_us_flex {
    justify-content: space-between;
  }

  .subsrcibe_us_flex_item {
    width: 40%;
    margin: 0 5em 0 0;
  }
}

@media screen and (max-width: 970px) {
  .subscribe_us_container h1 {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 825px) {
  .subscribe_us_container h1 {
    font-size: 2.0125rem;
  }

  .subsrcibe_us_flex_item {
    width: 45%;
    margin: 0 2em 0 0;
  }
}

@media screen and (max-width: 768px) {
  .subscribe_us_flex {
    flex-direction: column;
    margin: 5em 0 0 0;
  }

  .subscribe_us_flex img {
    width: 100%;
    height: 330px;
  }

  .subsrcibe_us_flex_item {
    width: 85%;
    margin: 2em 0 0 0;
  }

  .subscribe_us_container > h1 {
    width: 100%;
    font-size: 2rem;
    line-height: 58px;
  }
}

@media screen and (max-width: 473px) {
  .subsrcibe_us_flex_item button {
    padding: 0.5625em 25.5%;
  }

  .subscribe_us_container > h1 {
    font-size: 1.5rem;
    line-height: 55px;
  }
}

@media screen and (max-width: 353px) {
  .subsrcibe_us_flex_item button {
    padding: 0.5625em 20.5%;
  }

  .subscribe_us_container > h1 {
    font-size: 1.1255rem;
    line-height: 55px;
  }
}

@media screen and (max-width: 276px) {
  .subsrcibe_us_flex_item {
    width: 100%;
  }

  .subsrcibe_us_flex_item button {
    padding: 0.5625em 10.5%;
  }
}

/* Footer */
.footer_container {
  width: 100%;
  height: 517px;
  padding: 8em 0 1em 0;
}

.footer_flex {
  height: 82%;
  display: flex;
  margin-bottom: 5em;
}

.footer_flex_item_a {
  width: 50%;
  padding-left: 5em;
}

.footer_flex_item_b {
  width: 50%;
}

.footer_logo_image {
  width: 79.17%;
  height: 24px;
}

.footer_logo_image img {
  width: 100%;
  object-fit: fill;
}

.footer_logo_and_details {
  width: 41%;
  height: 226px;
}

.footer_logo_text p,
.small_texts {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #bababa;
}

div.footer_flex_item_b {
  width: 59%;
  display: flex;
  justify-content: space-between;
}

.products {
  width: 28%;
  height: 231px;
}

.quick_links {
  width: 28%;
  height: 195px;
}

.legal {
  width: 30%;
  height: 195px;
  padding-right: 5em;
}

.legal_small_device {
  display: none;
}

.footer_headings {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 43.14px;
  margin: 0;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.footer_list {
  list-style-type: none;
  padding: 0;
}

.footer_list li {
  margin-bottom: 1em;
}

.footer_links {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #bababa;
}

.final_footer_container {
  width: 88%;
  height: auto;
  padding: 1.5rem 0;
  margin: 0 auto;
  border-top: 1px solid #191919;
  display: flex;
  justify-content: space-between;
}

.final_footer_container span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.16px;
  color: #bababa;
}

.designed_by .logo_span {
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #e9ce6e, #b3873a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 1330px) {
  .footer_flex_item_a {
    width: 40%;
  }

  .footer_logo_and_details {
    width: 100%;
  }

  .products {
    width: 32%;
  }

  .quick_links {
    width: 32%;
  }

  .legal {
    width: 32%;
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .footer_headings {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 835px) {
  .footer_container {
    height: auto;
    padding-top: 3em;
  }

  .footer_logo_and_details {
    width: 50%;
  }

  .footer_flex {
    height: auto;
    padding: 0;
    flex-direction: column;
  }

  .footer_flex_item_a {
    width: 100%;
    padding-left: 35%;
  }

  .footer_flex_item_b {
    width: 100% !important;
    justify-content: space-between;
    margin-top: 4em;
    padding-left: 11%;
  }

  .products {
    width: 100%;
  }

  .quick_links {
    width: 100%;
  }

  .legal {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer_flex_item_a {
    width: 100%;
    padding: 0 5% 0 11%;
    display: flex;
    justify-content: space-between;
    order: 2;
    margin-top: 4em;
  }

  .footer_logo_and_details {
    width: 50% !important;
  }

  .legal_small_device {
    width: 48%;
    display: flex;
    flex-direction: column;
  }

  .footer_flex {
    height: auto;
    padding: 0;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .footer_flex_item_b {
    width: 100% !important;
    justify-content: space-between;
    order: 1;
    padding-left: 11%;
    margin: 0;
  }

  .legal_large_device {
    display: none;
  }

  .products {
    width: 100%;
  }

  .quick_links {
    width: 100%;
  }

  .final_footer_container {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
  }

  .all_rights_reserved,
  .designed_by {
    text-align: center;
  }

  .designed_by {
    margin-top: 1em;
  }
}

@media screen and (max-width: 450px) {
  .footer_logo_text p,
  .footer_logo_text h6 {
    font-size: 0.85rem;
  }

  .footer_logo_text h6 {
    margin-top: 1em !important;
  }
}

@media screen and (max-width: 355px) {
  .footer_flex_item_a {
    flex-direction: column;
    padding: 0;
  }
  .footer_flex_item_b {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer_logo_and_details {
    width: 100% !important;
  }

  .footer_logo_text p,
  .footer_logo_text h6 {
    font-size: 1rem;
    text-align: center;
  }

  .products {
    width: 100%;
    text-align: center;
  }

  .quick_links {
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }

  .legal_small_device {
    width: 100%;
    text-align: center;
  }

  .footer_logo_image {
    margin-left: 20%;
  }

  .final_footer_container span {
    font-size: 0.75rem;
  }

  .designed_by {
    margin-top: 1em;
  }
}
